.card{
    width: 500px;
    border: 5px solid crimson;
    margin: 0 0 1rem 0;
    padding: 16px;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.card {
    border: 1px solid #ccc;
    padding: 20px;
    margin: 20px;
    text-align: center;
  }
  